.journal-detail-page {
    text-align: center;
}

.journal-detail-img {
    max-width: 100%;
    max-height: 70vh; /* Ensures it fits within the visible screen height */
    height: auto;
    width: auto;
    object-fit: contain;
    display: block;
    margin: 1.5rem auto;
}


.journal-detail-text {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
